/* ========================================
   1. RESET CSS BÁSICO (Minimalista)
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.5;
    color: white;
    font-family:Helvetica, sans-serif;
    /* font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em; */
    
}

header {
    background: black;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10svh;
    align-items: flex-end;
    padding: 0 20px; */
}
main {
    background: rgba(100,100,50);
}

footer {
    background: #000000;
}

.menu {
    font-size: 1.5em;
    font-weight: 700;
}
.menu a{
    color: rgb(100,100,50);
    text-decoration: none;
}

.menu:hover {
    color: white;
}

#homelink {
    font-weight: bold;
    text-decoration: underline;
}

.intro {
    padding: 0 0 100px 0;
}
.intro p{
    font-style: italic;
}
/* .roboto-mono-variable {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */
